<link rel='stylesheet' href='/stylesheets/calendars.css' />
<script type="text/javascript" charset="utf-8">
	var selectedList = new Array();
	$("#calendarList li").click(function() {
		if (!$(this).hasClass("clicked")) {
			$(this).addClass("clicked");
			selectedList.push($(this).val());
		} else {
			$(this).removeClass("clicked");
			for(var i=selectedList.length-1; i>=0; i--) {
				if (selectedList[i] === $(this).val()) {
					selectedList.splice(i,1);
				}
			}
		}
		console.log(selectedList);
	});
	
</script>
<div id="calendars">
	<h1>Which calendars do you want to get events from?</h1>
	<form action="/googleEventFetch" method="post" accept-charset="utf-8">
		<ul id="calendarList">
			<% for(var i=0; i<list.length; i++) { %>
				<li><%= list[i].title %></li>
			<% } %>
		</ul>
		<div id="fromDate">
			<% var d = new Date(); %>
			From:
			<select name="fromMonth">
			<% for(var i=1; i<=12; i++) { %>
				<option value="<%= i %>" 
					<% if (d.getMonth() === i-1) { %>
						<%= 'selected="selected"' %> 
					<% } %> >
					<%= i %>
				</option>
			<% } %>
			</select>
			<select name="fromDay">
			<% for(var i=1; i<=31; i++) { %>
				<option value="<%= i %>" 
					<% if (d.getDate() === i) { %>
						<%= 'selected="selected"' %>
					<% } %> >
					<%= i %>
				</option>
			<% } %>
			</select>
			<select name="fromYear">
			<% for(var i=2000; i<=2020; i++) { %>
				<option value="<%= i %>" 
					<% if (d.getFullYear() === i) { %>
						<%= 'selected="selected"' %>
					<% } %> >
					<%= i %>
				</option>
			<% } %>
			</select>
			<select name="fromHour">
			<% for(var i=0; i<=23; i++) { %>
				<option value="<%= i %>" ><%= time[i] %></option>
			<% } %>
			</select>
		</div>
		<div id="toDate">
			To:
			<select name="toMonth">
			<% for(var i=1; i<=12; i++) { %>
				<option value="<%= i %>" 
					<% if (d.getMonth() === i-1) { %>
						<%= 'selected="selected"' %> 
					<% } %> >
					<%= i %>
				</option>
			<% } %>
			</select>
			<select name="toDay">
			<% for(var i=1; i<=31; i++) { %>
				<option value="<%= i %>" 
					<% if (d.getDate() === i-1) { %>
						<%= 'selected="selected"' %>
					<% } %> >
					<%= i %>
				</option>
			<% } %>
			</select>
			<select name="toYear">
			<% for(var i=2000; i<=2020; i++) { %>
				<option value="<%= i %>" 
					<% if (d.getFullYear() === i) { %>
						<%= 'selected="selected"' %>
					<% } %> >
					<%= i %>
				</option>
			<% } %>
			</select>
			<select name="toHour">
			<% for(var i=0; i<=23; i++) { %>
				<option value="<%= i %>" ><%= time[i] %></option>
			<% } %>
			</select>
		</div>

		<p><input type="submit" value="Continue &rarr;"></p>
	</form>

</div>